body {
	/*background: url(https://lh5.googleusercontent.com/-PkvtoM-8-tA/Us8DLVi09DI/AAAAAAAANwU/T8a5eUjTufA/s890/back.jpg);*/
	background-size: 100%;
	background-color: #fff;
}
.body{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.banner {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.profile-pic img {
	width:100px;
	height:100px;
	margin-top:10px;

}
.profile-pic{
	float: left;
	margin-right: 10px;
}
.profile-name {
	
	width: 200px;
	height:70px;
	border-radius: 5px;
	opacity: 0.8;
	margin-top: 60px;
	padding-left: 8px;
}
.profile-name {
	
	font-family: tahoma, sans-serif;
} 
.left-widget {
	background: #1E7FA2;
	width:200px;
	height:60px;
	border-radius: 5px;
	padding: 4px 8px 4px 8px;
	margin-top: 8px;
}
.left-widget:hover{
	background: #61A220;
	cursor:pointer;
	transition: 0.2s;
}

.left-widget p{
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
/** CSS menu styling**/
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  height: 49px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #61A220;
  
  
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #61A220;
 
  color: #000;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1E7FA2;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1E7FA2;
  margin-left: -10px;
}
#cssmenu > ul > li.active > a {
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background: #548D1C;
}
#cssmenu > ul > li:hover > a {
  background: #548D1C;
 
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #1E7FA2;
  border-bottom: 1px dotted #ff0f1b;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #FBA800;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #FBA800;
  border-bottom: 1px dotted #ff0f1b;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #8f0007;
}

/**end of css menu**/
.menubar {
	float: right;

}
.top-row {
	margin-top: 10px;
}
.widgets {
	float:left;
	margin-right: 25px;
}
.social-fb{
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.social-twtr {
	float:right;
}

/**AAP Footer**/
.pane-title {
font-family: arial;
font-size: 20px;
color: #FFF;
text-shadow: 1px 1px 1px #292929;
}


.footer {
background: #61A220;
margin-top: 350px;
margin-left: -10px;
margin-right: -8px;
height: 245px;
}
.footer-center {
width: 960px;
margin-left: auto;
margin-right: auto;
padding-top: 10px;
}
.menu {
list-style: none;
margin-left: -40px;
}
.footer-center a {
color: #FFF;
font-family: arial;
font-size: 12px;
text-decoration: none;
}

.footer-center a:hover {
color: #A0F640;
}

.pane-content a:hover{
	color:#a0f640;
}

.panel-pane.pane-block.pane-menu-menu-footer-1 {
	float:left;
	margin-right: 65px;
}
.panel-pane.pane-block.pane-menu-menu-footer-3 {
	float: left;
	margin-right: 120px;
}
.pane-content a {
	color: #FFF;
font-family: arial;
font-size: 12px;
text-decoration: none;
}
.footer-bottom {
	background: #1E7FA2;
	height: 83px;
	margin-left: -10px;
	margin-right: -8px;
	margin-bottom: -10px;
	margin-top: -20px;
}
.footer-bottom-content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;

}

.social-networks h2 {
	font-family: arial;
font-size: 20px;
color: #FFF;
text-shadow: 1px 1px 1px #292929;
float:left;
margin-right: 8px;
}
#fb img {
	margin-top: 10px;
	float:left;
	margin-right: 3px;
}
#twtr img {
	margin-top: 10px;
	float:left;
	margin-right: 3px;
}
#youtube img {
	margin-top:10px;
}
.social-networks {
	float:left;
	width: 500px;
}
.copyright{
	float: right;
	font-family: arial;
	color: #fff;
}

.copyright p{
font-size: 13px;
padding-top: 12px;
}