
@charset "utf-8";
/* CSS Document */
body{margin:10px 0 0 0; padding:0px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.toplinkfull-holder{width:1000px; margin:0px auto; padding:5px 0 0 0 ; }
.logo{  margin:0px; padding:0px; float:left; }
.logo a{ background:url(../images/logo.png) no-repeat; display:block; width:171px; height:44px; margin:0px; padding:0px;}
.toplinks{margin:0 0 0 170px; padding:42px 0 0 0; float:left; }
.toplinks ul{margin:0px; padding:0px;}
.toplinks ul li{margin:0px;  display:inline; padding:0px;}
.toplinks ul li a{margin:0px;color:#676767; padding:30px 20px 0 20px; font-size:14px; text-decoration:none; }
.toplinks ul li a:hover{ color:#000;}
.home{background:url(../images/iconhome.jpg) no-repeat top center; margin:0px; padding:20px 0;}
.about{background:url(../images/iconabout.jpg) no-repeat top center; margin:0px; padding:0;}
.event{background:url(../images/iconevents.jpg) no-repeat top center; margin:0px; padding:0;}
.livetv{background:url(../images/iconlivetv.jpg) no-repeat top center; margin:0px; padding:0;}
.contact{background:url(../images/iconcontact.jpg) no-repeat top center; margin:0px; padding:0;}
.signin{ margin:0px; padding:0; }
.guest{background:url(../images/iconguest.jpg) no-repeat top center; margin:0px; padding:0; }
.toplinks-signhome{margin:0px; padding:40px 0 0 0px; float:right; }
.toplinks-signhome ul{margin:0px; padding:0 20px 0 30px;border-left:1px solid #c3d4cc; }
.toplinks-signhome ul li{margin:0px; padding:20px 10px 0 10px; display:inline; color:#707070; }
.toplinks-signhome ul li a{margin:0px;color:#ee4903; font-weight:bold; padding:0px; font-size:13px; text-decoration:none;}
.toplinks-signhome ul li a:hover{ color:#000;}

.toplinks-sign{margin:0px; padding:40px 0 0 10px; float:right;  }
.toplinks-sign ul{margin:0px; padding:0px;}
.toplinks-sign ul li{margin:0px; padding:40px 10px 0 0px; display:inline; color:#707070; }
.toplinks-sign ul li a{margin:0px;color:#ee4903; font-weight:bold; padding:0px; font-size:11px; text-decoration:none;}
.toplinks-sign ul li a:hover{ color:#000;}

.clear{clear:both;}
.slider{margin:0px; padding:0px;  }
.rslides { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0;  }
.rslides li { -webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
.rslides li:first-child { position: relative; display: block; float: left; }
.rslides img { display: block; height: auto; float: left; width: 100%; border: 0;}
.contentarea{width:1000px; margin:0 auto; padding:20px 0; overflow:hidden;   }
.donatetabwrapper{ width:1000px; margin:0px auto; padding:0px; position:relative; top:180px; right:340px; text-align:right; z-index:999;  }
.donatetabe{margin:0px; padding:0px; z-index:1; }
.donatetabe ul{margin:0px; padding:0px;}
.donatetabe ul li{margin:0px; padding:0px; display:inline;}
.donatetabe ul li a{margin:0px; padding:8px 10px; color:#fff; background:#F00;  font-size:25px; text-decoration:none; }
.donatetabe ul li a:hover{ color:#000; background:#ff7c00;}


.donatewrapper{ width:900px; margin:0px auto; padding:0px; position:relative; top:8px; right:0; left:0; z-index:999; }
.donatewrappertab{ width:900px; margin:0px; padding:0px; z-index:1; position:absolute; text-align:right ; }
.donatewrappertab ul{margin:0px; padding:0px;}
.donatewrappertab ul li{margin:0px; padding:0px; display:inline;}
.donatewrappertab ul li a{margin:0px; padding:8px 10px; color:#fff; background:#F00;  font-size:15px; text-decoration:none; -moz-border-radius-topleft: 7px; -moz-border-radius-topright: 7px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-radius: 0px 0px 7px 7px; border-bottom:none; }
.donatewrappertab ul li a:hover{ color:#000; background:#ff7c00;}
.donatewrappertab ul li.active{ background:#ff7c00; color:#fff; margin:0 3px 0 0; padding:8px 10px; font-size:15px; text-decoration:none; -moz-border-radius-topleft: 7px; -moz-border-radius-topright: 7px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-radius: 0px 0px 7px 7px; border-bottom:none;}


.article-leftarea{width:665px; margin:0px; float:left;}
.rhsarea{width:333px; margin:0px auto; float:right; padding:5px 0 0 0;  overflow:hidden; }
.joincommunity{width:280px; padding:7px 7px; margin:0 0 25px 35px; background:#fff; border:1px solid #dbedfb; -moz-box-shadow: 0px 0px 3px 3px #c9e6fb; -webkit-box-shadow: 0px 0px 3px 3px #c9e6fb; box-shadow: 0px 0px 3px 3px #c9e6fb;}
.joincommunity ul{margin:15px 0 5px 0; padding:0 0 0 30px; border-bottom:9px solid #c9e6fb;}
.joincommunity ul li{margin:0; font-size:14px; line-height:20px; color:#505050; padding:0 0 5px 0px; list-style-image:url(../images/list.jpg);}
.joincommunity label{ width:200px; }
 
.aap-performance{width:280px; padding:7px 7px; margin:0 0 25px 35px; background:#fff; border:1px solid #dbedfb; -moz-box-shadow: 0px 0px 3px 3px #c9e6fb; -webkit-box-shadow: 0px 0px 3px 3px #c9e6fb; box-shadow: 0px 0px 3px 3px #c9e6fb;}
.aap-performance ul{margin:15px 0 5px 0; padding:0 0 0 10px; border-bottom:9px solid #c9e6fb;}
.aap-performance ul li{margin:0; font-size:14px; line-height:20px; color:#505050; padding:0 0 5px 0px; list-style-type:none;}
.aap-performance label{ width:200px; }
.aap-performance .votebutton{ margin:0px; padding:3px 7px; color:#000; font-size:13px; background:#b3df27; border:1px solid #7ca800;}
.vote{color:#F03;}
.trending{width:280px; padding:7px 7px; margin:0 0 25px 35px; background:#fff; border:1px solid #dbedfb; -moz-box-shadow: 0px 0px 3px 3px #c9e6fb; -webkit-box-shadow: 0px 0px 3px 3px #c9e6fb; box-shadow: 0px 0px 3px 3px #c9e6fb; overflow:hidden;}
.trendingfull{ margin:0px; padding:0 0 8px 0; border-bottom:1px solid #ceccce; overflow:hidden; }
.trendingfull img{float:left; margin:0px; padding:10px 7px 0 0;}
.trendingfull p{ width:162px; float:left; color:#666; text-align:justify; margin:0px; padding:7px 0 0 0;}

.facebookWidget{width:300px; height:550px; padding:0px; margin:0 0 20px 0; background:#ececec; float:right;}
.twitterWidget{width:300px; height:550px; padding:0px; margin:0 0 20px 0; background:#ececec; float:right; }


.articleCategory-tablist{margin:0; padding:0px; width:100%; text-align:right; border-bottom:1px solid #d1cfcf; }
.articleCategory-tablist ul{ margin:0px; padding:7px 15px 2px 15px;text-decoration:none;}
.articleCategory-tablist ul li{ margin:0 2px 0 0px; padding:0px; display:inline; color:#8c8c8c; font-weight:bold; }
.articleCategory-tablist ul li a{background:url(../images/tab-blue.jpg) repeat-x #254589 ;  margin:0px; padding:9px 15px; color:#fff; font-size:13px; font-weight:bold; text-decoration:none;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px;-moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-radius: 7px 7px 0 0;
border:1px solid #26478d; border-bottom:none;}
.articleCategory-tablist ul li a:hover{ color:#fff;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px; border:1px solid #000; border-bottom:none;}
.divarticle{width:100%; margin:0px; padding:0 0 20px 0; overflow:hidden; border-bottom:1px solid #d1cfcf;}
.divarticle h1{ margin:0px; padding:15px 0 6px 0; font-size:24px; font-weight:bold; color:#666;}
.divarticle h1 a{ background:url(../images/news-icon.png) no-repeat; margin:0px; padding:0 0 0 27px; font-size:24px; font-weight:bold; color:#666; text-decoration:none;}
.divarticle h1 a:hover{ color:#294d95;background:url(../images/news-blue-icon.png) no-repeat;}
.divarticle .img{float:left; margin:0px; height:130px; padding:0 10px 0 0; }
.author{margin:0px; padding:7px 0 0 0;}
.author p{ margin:0px; padding:0px; color:#414141; font-size:11px; }
.author p span{ margin:0px; padding:0px; color:#000; font-size:12px;font-weight:bold;}
.author p.orange{color:#f35d03; font-weight:bold; font-size:11px;}
.divarticle p{  margin:0px; padding:0px; text-align:justify; color:#535353; line-height:18px; font-size:13px;}
.divarticle p a{color:#ff4e00; text-decoration:none;}
.footerfullbg{margin:0px; padding:40px 0; width:100%; background:#cfcbc4; overflow:hidden;}
.footercontent{width:1000px; margin:0 auto; padding:0px;}
.footerrow{float:left; width:300px;  margin:0px; padding:0px;}
.footerrow h2{ margin:0 0 20px 0; color:#3b3a37; padding:0; font-size:24px; font-weight:normal; border-bottom:1px solid #a7a49f;}
.footerrow h3{ margin:0 0 0px 0; color:#3b3a37; padding:0; font-size:24px; font-weight:normal; }
.footerrow ul{ margin:0px; padding:0px;}
.footerrow ul li{ margin:0px; padding:0px; list-style-type:none;}
.footerrow ul li a{ color:#3b3a37; text-decoration:none; margin:0px; padding:0px; font-size:12px; line-height:27px;}
.footerrow ul li a:hover{ color:#666;}
.footerfull{margin:0px; line-height:50px; width:100%; background:#a9a49e; overflow:hidden;}
.h3{ margin:0 0 0px 0; color:#3b3a37; padding:0; font-size:24px; font-weight:normal; }
.conectleft{float:left; margin:0px; padding:0;}
.conectleft ul{margin:0; padding:0; }
.conectleft ul li{margin:0; padding:0; display:inline; }
.copyright{float:right; margin:0px; padding:0;}

/*19/02/2014*/
.divvideoarticle{width:100%; margin:0px; padding:0 0 5px 0; overflow:hidden; border-bottom:1px solid #d1cfcf;}
.divvideoarticle h1{ margin:0px; padding:15px 0 6px 0; font-size:24px; font-weight:bold; color:#666;}
.divvideoarticle h1 a{ background:url(../images/video-icon.png) no-repeat left; margin:0px; padding:0 0 0 27px; font-size:24px; font-weight:bold; color:#666; text-decoration:none;}
.divvideoarticle h1 a:hover{background:url(../images/video-blue-icon.png) no-repeat left; color:#294d95;}
.divvideoarticle .img{float:left; margin:0 10px 0 0; width:230px !important; height:140px; padding:0; }
.divvideoarticle-author{margin:0px; padding:7px 0 0 0; float:left; }
.divvideoarticle-author p{ margin:0px; padding:0px; color:#414141; font-size:11px; }
.divvideoarticle-author p span{ margin:0px; padding:0px; color:#000; font-size:12px;font-weight:bold;}
.divvideoarticle-author p.orange{color:#f35d03; font-weight:bold; font-size:11px;}
.divvideoarticle-author ul{margin:5px 0 0 0; padding:0px;  }
.divvideoarticle-author ul li{margin:0px; padding:0 20px 0 0; color:#000; font-size:12px; list-style-type:none; display:inline; border-right:1px solid #666 ;}
.divvideoarticle-author ul li.noborder{border:none;}
.divvideoarticle-author ul li span{margin:0px; padding:0px; color:#000; font-size:12px;font-weight:bold;}
.divvideoarticle-author ul li.orange{color:#f35d03; font-weight:bold; font-size:11px;}
.divvideoarticle p{  margin:0px; padding:0px; text-align:justify; color:#535353; line-height:18px; font-size:13px;}
.divvideoarticle p a{color:#ff4e00; text-decoration:none;}

.divblogarticle{width:100%; margin:0px; padding:0 0 5px 0; overflow:hidden; border-bottom:1px solid #d1cfcf;}
.divblogarticle h1{ margin:0px; padding:15px 0 6px 0; font-size:24px; font-weight:bold; color:#666;}
.divblogarticle h1 a{ background:url(../images/blog-icon.png) no-repeat; margin:0px; padding:0 0 0 27px; font-size:24px; font-weight:bold; color:#666; text-decoration:none;}
.divblogarticle h1 a:hover{ color:#294d95;background:url(../images/blog-blue-icon.png) no-repeat;}
.divblogarticle .img{float:left; margin:0px; width:230px; height:140px; padding:0 10px 0 0; }
.divblogarticleauthor{margin:0px; padding:7px 0 0 0;}
.divblogarticleauthor p{ margin:0px; padding:0px; color:#414141; font-size:11px; }
.divblogarticleauthor p span{ margin:0px; padding:0px; color:#000; font-size:12px;font-weight:bold;}
.divblogarticleauthor p.orange{color:#f35d03; font-weight:bold; font-size:11px;}
.divblogarticleauthor ul{margin:5px 0 0 0; padding:0px;  }
.divblogarticleauthor ul li{margin:0px; padding:0 20px 0 0; color:#000; font-size:12px; list-style-type:none; display:inline; border-right:1px solid #666 ;}
.divblogarticleauthor ul li.noborder{border:none;}
.divblogarticleauthor ul li span{margin:0px; padding:0px; color:#000; font-size:12px;font-weight:bold;}
.divblogarticleauthor ul li.orange{color:#f35d03; font-weight:bold; font-size:11px;}
.divblogarticle p{  margin:0px; padding:0px; text-align:justify; color:#535353; line-height:18px; font-size:13px;}
.divblogarticle p a{color:#ff4e00; text-decoration:none;}

.loginwithholder{width:967px; border:1px solid #adacac; background:#e6e6e6; margin:50px 0; padding:15px;}
.loginwithinnerholder{width:100%; border:1px solid #b5b4b3; background:#fff; margin:0px; padding:20px 0; text-align:center;}
.loginwithholder ul{margin:0px; padding:10px 0;}
.loginwithholder ul li{margin:0px; padding:0px 40px; display:inline; border-bottom:1px solid #ccc;}
.loginwithholder ul li a{margin:0px; padding:0px;}
.loginwithholder ul li.noborder{border:none;}
.form-leftarea{width:665px; margin:0px; float:left;}
.editprofilehead{font-size:20px; font-weight:normal; margin:0px; padding:0px; color:#F00; text-align:center;}
.editprofile{font-size:20px; font-weight:normal; margin:0px; padding:0px; color:#124385; border-bottom:1px solid #ccc;}
.formwrapper{margin:0px; padding:10px 15px; overflow:auto; background: #fff; border:1px solid #d7d7d7;}
.formwrapper form{margin:0px; padding:10px 0; overflow:auto; }
.formwrapper label{display:block; font-weight:bold; color:#666; font-size:12px; text-align:left; width:240px; float:left;}
.formwrapper .small{ color:#666666; display:block; font-size:11px; font-weight:normal; text-align:left; width:240px;}
.formwrapper input{ text-align:left; display:inline; }
.formwrapper .button{background:#F60; margin:30px 0  0 240px ; padding:6px 8px; color:#fff; border:none; text-align:center;}
.blockdiv{margin:0px; padding:10px 0; border-bottom:1px dashed #ccc; }
.formwrapper .textbox{margin:0px; padding:8px 7px; border:1px solid #CCC; width:300px;}
.formwrapper .textarea{margin:0px; padding:8px 7px; height:80px; border:1px solid #CCC; width:300px;}
.formwrapper .noborder{border:none;}
.formheading{ background:none; margin:10px 0; padding:8px 0px; font-size:17px; color:#F00; font-weight:normal;}
.formsmallheading{ background:none; margin:0 0 10px 0; padding:0 0 8px 0px; font-size:17px; color:#F00; font-weight:normal;}
.partymemberdiv{margin:0px; padding:7px 8px; color:#F90; font-size:18px; font-weight:normal; }
.partymembertab{margin:0px; padding:20px; border:1px solid #dad8d8; background:#f1efef;}
.languagetab{margin:4px 0 0 0; padding:0px 10px; background:#fff; border:1px solid #dad8d8; text-align:justify;}
.partymembertab ul{margin:0 0 0 15px; padding:0px;}
.partymembertab ul li{ display:inline; margin:0px; padding:0px;}
.partymembertab ul li a{ background:url(../images/tab-blue.jpg) repeat-x #254589 ;  margin:0px; padding:5px 15px; color:#fff; font-size:13px; font-weight:bold; text-decoration:none;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px;-moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-radius: 7px 7px 0 0;
border:1px solid #26478d; border-bottom:none;}
.partymembertab ul li a:hover{ background:#666; color:fff;}
.partymembertab ul li.active{background:#fff;padding:5px 15px; color:#666; font-size:13px; font-weight:bold; text-decoration:none;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px;-moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-radius: 7px 7px 0 0;
border:1px solid #dad8d8; border-bottom:none;}
.fundraising{margin:0px; padding:0px;}
.fundraising ul{margin:0px; padding:0px; }
.fundraising ul li{margin:0px; padding:0px; list-style-type:none; border-bottom:1px dashed #ccc; line-height:35px; }
.fundraising ul li a{ color:#666; text-decoration:none; margin:0px; padding:0px; }
.userprofile{margin:0px; padding:0px; float:right; min-width:60px; max-width:100px;border:1px solid #e0e2e2; font-size:11px; text-align:center;}
/*.voiceappdiv{margin:0px; padding:7px 8px; color:#333; font-size:18px; font-weight:normal; }*/



.voiceapp-inner-div{margin:0px 0 0 0; padding:15px; border:1px solid #ccc; background:#e8e9e9;}
.voiceappdiv{ width:190px; background:#F60 ;  margin:0 0 0 15px; padding:5px 15px; color:#fff; font-size:13px; font-weight:bold; text-decoration:none;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px;-moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-radius: 7px 7px 0 0;
border:1px solid #F30; border-bottom:none;}
.fbwrapper{margin:0px; padding:15px; background:#fff; border:1px solid #ccc;}
.fbwrapper .select{margin:5px 0 0 0; padding:0px;}
.fbgorups{margin:0px; padding:0px;}
.fbgorups ul{margin:0px; padding:0px; }
.fbgorups ul li{margin:0px; padding:0px; list-style-type:none; border-bottom:1px dashed #ccc; line-height:35px; }
.fbgorups .noborder{border:none;}.fbgorups input{margin:0px; padding:0px;}
.voiceapp-inner-div .button{background:#F60; border:none; padding:4px 6px; margin:10px 0 0 0px; font-size:16px; color:#fff; cursor:pointer; }
 .faqdiv-tab{ width:180px; background:#3d589b ;  margin:0 0 0 15px; padding:5px 15px; color:#fff; font-size:13px; font-weight:bold; text-decoration:none;-moz-border-radius-topleft: 7px;-moz-border-radius-topright: 7px;-moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-top-left-radius: 7px; -webkit-border-top-right-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-radius: 7px 7px 0 0;
border:1px solid #2b4072; border-bottom:none;}
.faqwrapper{margin:0px; padding:10px 15px; background:#fff; border:1px solid #ccc;}
.faqwrapper p{margin:0px; padding:5px 0; text-align:justify; color:#545353; line-height:19px;}
.faqwrapper ul{margin:0px; padding:10px 0;}
.faqwrapper ul li{margin:0 0 0 25px; padding:0 0 0 0px; color:#545353; line-height:19px;}
.faqwrapper ul li a{margin:0px; padding:0px; color:#039; text-decoration:underline;}
.faqwrapper ul li a:hover{ color:#000;}
.faqwrapper .questions{font-size:16px; font-weight:bold; color:#5589a6; margin:3px 0; padding:4px 5px; background:#e4eaed;}
.faqwrapper .questions a{font-size:16px; font-weight:bold; color:#5589a6; margin:0px; padding:0px;}
.faqwrapper .questions a:hover{ color:#000;}

.aap-invitefriends{width:280px; padding:7px 7px; margin:0 0 25px 35px; background:#fff; border:1px solid #dbedfb; -moz-box-shadow: 0px 0px 3px 3px #c9e6fb; -webkit-box-shadow: 0px 0px 3px 3px #c9e6fb; box-shadow: 0px 0px 3px 3px #c9e6fb;}
.aap-invitefriends ul{margin:0px 0 5px 0; padding:0 0 0 0px; }
.aap-invitefriends ul li{margin:0; padding:0; list-style-type:none; border-bottom:4px solid #dbedfb;}.aap-invitefriends .noborder{border:none;}
.mandatory{color:#F30 ; font-weight:bold; display:block; }
.readmorewrapper{width:665px; margin:0px; float:left; color:#535252; border:1px solid #dedede;}
.readmorewrapper h1{ font-size:22px; margin:10px 0 0 0; padding:0 0 0 15px;}
.readmorewrapper p{ text-align:justify; padding:10px 15px 15px 15px; margin:0px; font-size:13px; line-height:19px;}
.readmorewrapper ul{margin:0px; padding:0px;}
.readmorewrapper ul li{margin:0 0 0 30px; padding:0px; color:#535252; font-size:13px;line-height:20px;}
.readmorewrapper ul li a{margin:0px; padding:0px; color:#535252; text-decoration:underline;}
.readmorewrapper ul li a:hover{ color:#000;}
.readmorewrapper ol{margin:0px; padding:0px;}
.readmorewrapper ol li{margin:0 0 0 30px; padding:0px; color:#535252;font-size:13px; line-height:20px;}
.readmorewrapper ol li a{margin:0px; padding:0px; color:#535252; text-decoration:underline;}
.readmorewrapper ol li a:hover{ color:#000;}

.readmorewrapper table{margin:10px 15px; padding:0px; border-collapse:collapse;border:1px solid #d7d4d4; font-size:12px; text-align:left;}
.readmorewrapper table th{margin:0px; padding:5px 4px; background:#e2ebf5; font-weight:bold;}
.readmorewrapper table tr{margin:0px; padding:0px;}
.readmorewrapper table td{margin:0px; padding:5px 4px; border:1px solid #d7d4d4;}

.languagetab table{margin:10px 1px; width:100%; padding:0px; border-collapse:collapse;border:1px solid #d7d4d4; font-size:12px; text-align:left; background:#fff;}
.languagetab table th{margin:0px; padding:5px 4px; background:#e2ebf5; font-weight:bold;}
.languagetab table tr{margin:0px; padding:0px;}
.languagetab table td{margin:0px; padding:5px 4px; border:1px solid #d7d4d4;}

/*03-03-2014*/
.divnewsarticle{width:100%; margin:0px; padding:0 0 5px 0; overflow:hidden; border-bottom:1px solid #d1cfcf;}
.divnewsarticle h1{ margin:0px; padding:15px 0 6px 0; font-size:24px; font-weight:bold; color:#666;}
.divnewsarticle h1 a{ background:url(../images/video-icon.png) no-repeat left; margin:0px; padding:0 0 0 27px; font-size:24px; font-weight:bold; color:#666; text-decoration:none;}
.divnewsarticle h1 a:hover{background:url(../images/video-blue-icon.png) no-repeat left; color:#294d95;}
.divnewsarticle .img{float:left; margin:0 10px 0 0; width:230px !important; height:140px; padding:0; }
.divnewsarticle-author{margin:0px; padding:7px 0 0 0; float:left; }
.divnewsarticle-author p{ margin:0px; padding:0px; color:#414141; font-size:11px; }
.divnewsarticle-author p span{ margin:0px; padding:0px; color:#000; font-size:12px;font-weight:bold;}
.divnewsarticle-author p.orange{color:#f35d03; font-weight:bold; font-size:11px;}
.divnewsarticle-author ul{margin:5px 0 0 0; padding:0px;  }
.divnewsarticle-author ul li{margin:0px; padding:0 20px 0 0; color:#000; font-size:12px; list-style-type:none; display:inline; border-right:1px solid #666 ;}
.divnewsarticle-author ul li.noborder{border:none;}
.divnewsarticle-author ul li span{margin:0px; padding:0px; color:#000; font-size:12px;font-weight:bold;}
.divnewsarticle-author ul li.orange{color:#f35d03; font-weight:bold; font-size:11px;}
.divnewsarticle p{  margin:0px; padding:0px; text-align:justify; color:#535353; line-height:18px; font-size:13px;}
.divnewsarticle p a{color:#ff4e00; text-decoration:none;}

.divdetails-article-author{margin:0px; padding:0 0 0 12px; border-bottom:1px  solid #ccc;}
.divdetails-article-author ul{margin:5px 0 0 0; padding:0px;  }
.divdetails-article-author ul li{margin:0px; padding:0 5px 0 0px; color:#000; font-size:12px; list-style-type:none; display:inline; border-right:1px solid #ccc ;}
.divdetails-article-author ul li.noborder{border:none;}
.divdetails-article-author ul li span{margin:0px; padding:0 10px; color:#000; font-size:12px;font-weight:bold; border-left:1px solid #ccc ;}
.divdetails-article-author ul li.orange{color:#f35d03; font-weight:bold; font-size:11px; padding:0 5px; }
.donatebtnbig{margin:0px; padding:0px; background:url(../images/Donate_Button.jpg) no-repeat; width:182px; height:51px; border:none; cursor:pointer;}
.donatebtnsmall{margin:0 0 0 20px; color:#fff; padding:6px 7px; text-align:center; font-size:14px; border-radius:6px; background:#ff6600;  cursor:pointer; border:none;}
.selectbox{width:160px; margin:0px;}