.navsprite{ background:url("navsprite.png") top left no-repeat; }
.loud_r4_c16{ width:39px; height:23px; background-position:-10px -10px; }
.loud_r4_c14{ width:39px; height:23px; background-position:-10px -43px; }
.loud_r4_c12{ width:30px; height:23px; background-position:-10px -76px; }
.loud_r4_c10{ width:30px; height:23px; background-position:-10px -109px; }
.loud_r3_c8{ width:22px; height:23px; background-position:-10px -142px; }
.loud_r2_c6{ width:22px; height:23px; background-position:-10px -175px; }
.loud_r2_c4{ width:27px; height:23px; background-position:-10px -208px; }
.loud_r3_c2{ width:27px; height:23px; background-position:-10px -241px; }

